*{ display:ruby-base-container;
    width: 100%;
    margin:0;
    padding:15;
    text-size-adjust:responsive;
    justify-content:center;
    align-self: center;
      
}


h2{
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(23, 21, 21);
    font-size:20px;
    margin-top: 3px;
    background-color: darkgoldenrod;
}


p{
    font-size: 15px;
    justify-items: center;
justify-content:flex-end;

margin-left: 30;
}
h4{
    font-size: 20px;
    color:rgb(177, 58, 18) ;
    justify-self: flex;
    justify-content: center;
    text-align: center;
    
}
h1{
    font-size: 20px;
    justify-content:center;
   background-color:red;

   
}

h5{
    font-size: 15px;
    color:rgba(37, 29, 23, 0.734) ;
    justify-content: center;
    text-align: center;
    justify-self: flexbox;
    
    
}
figure{
    margin-left: 40px;
    margin-right: 20px;
    display:-moz-grid-group;
    gap: 2px;
}

.image-box{
    width: 200px;
    height:flex;
background-color: blanchedalmond;
border-radius: 20px;
display:ruby-base-container;
margin-left: justify;
margin-right: justify;

}
.image-box img{
    width: 100%;
    height: 200px;
    

}
.image-box figcaption{
    margin-top: 8px;
    font-size: 14px;
    color: #555;
    justify-self: center;
    text-align: center;
    text-transform: flex;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
nav{
    margin-left: 30px;
}
html{
    scroll-behavior: smooth;
}

section.fade-in{
    background-color: mediumseagreen;
    margin-top: 20px;
    justify-content: center;
}
section.fade-in{
    background-color:mediumseagreen ;
    margin-top: 20px;
}
section.galerie{
 background-color:mediumseagreen ;
    margin-top: 20px;}



